/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0 auto;
}

#__next {
  height: 100%;
  grid-row: 1/-1;
  grid-column: 1/-1;
}




html,
body {
  padding: 0;
  margin: 0;

}


@layer base {

  .active {
    @apply border-b-2;
    @apply border-gray-200;
    @apply pb-2;
  
    }

  p {
    @apply text-gray-600;
    @apply dark:text-gray-300;
    @apply font-light;
    @apply leading-8;
    @apply py-4;
  }
  h1 {
    @apply text-2xl;
    @apply leading-9;
    @apply text-gray-600;
    @apply dark:text-white;
    @apply pb-3;
  }
  h2 {
    @apply text-xl; 
    @apply leading-9; 
    @apply text-gray-600; 
    @apply dark:text-white;
  }
  main {
    @apply p-5
  }
  h3 {
    @apply text-base; 
    @apply leading-normal;
    @apply text-gray-600; 
    @apply dark:text-gray-300;
    @apply p-0;
    @apply m-0;
  }

  h4 {
      @apply text-xs; 
      @apply leading-normal;
      @apply text-gray-600; 
      @apply dark:text-gray-800;
      @apply pb-0;
      @apply uppercase;
      @apply p-0;
      @apply m-0;
    }
  main ul {
    @apply text-gray-600;
    @apply dark:text-gray-300;
    @apply font-light;
    @apply leading-8;
    @apply py-4;
    @apply pl-5;
  }
  main ul li {
    list-style-type: disc;
  }
  /* ... */
}



